---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<div class="introduction">
  <h1>hi.</h1>

<p>
  Ed is a <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> theme designed for textual
  editors based on <a href="http://go-dh.github.io/mincomp/">minimal computing principles</a>, and
  focused on legibility, durability, ease and flexibility. Our underlying technology is easy to
  learn and teach, and can produce beautifully rendered scholarly or reading editions of texts meant
  to last. To start using Ed, please see <a href="{{ site.baseurl }}/documentation/">our
  documentation</a> for installation instructions and more. To learn more about the ideas behind Ed
  and a list of current features see our <a href="{{ site.baseurl }}/about/">about</a> section. To
  see Ed in action, we've provided some sample minimal editions for you below.
</p>
</div>

<h1>Sample Texts</h1>
<ul>
{%- for texts in collections.texts -%}
  <li><a href="{{ entry.url }}">{{ texts.data.title }}</a></li>
{%- endfor -%}
</ul>

<hr />
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
