{% comment %}Head partial with meta tags and styles{% endcomment %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  {% comment %}Add your meta tags, stylesheets, etc. here{% endcomment %}
</head>