{% comment %}Site header with navigation toggle{% endcomment %}
<button class="sidebar-toggle"
    aria-label="Open navigation menu"
    aria-expanded="false"
    aria-controls="sidebar">
</button>
<header class="masthead">
  <div class="container">
    <h3 class="masthead-title">
      <a href="{{ site.baseurl }}/" title="Home">{{ site.title | newline_to_br }}</a>
      <br><small>{{ site.tagline }}</small>
    </h3>
  </div>
</header>